body {
    font-family: source-sans-pro;
    text-align: center;
    font-style: normal;
    font-weight: 200;
    background-color: rgb(241, 241, 241);
}

.results {
    background-color: rgb(255, 255, 255);
    width: 95%;
    padding: 10px;
    outline: 4px ridge rgb(227, 227, 255);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: "300px";
    height: "50px";
    color: "black";
    left: '50%';
    right: '50%';
}

.blank{
    width: 95%;
    padding: 10px;
    width: 95%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    left: '50%';
    right: '50%';
}