[Unit]
Description=Raspberry Pi heart client

[Service]
ExecStart=/bin/bash /etc/Raspi_heart/start.sh
Restart=always

[Install]
WantedBy=multi-user.target