[Unit]
Description=Raspberry Pi heart client
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/bin/bash /etc/Raspi_heart/pi_client/start.sh
Restart=always

[Install]
WantedBy=multi-user.target